.p-025 {
    padding: 0.25rem;
}

.form-row {
    display: flex;
    // justify-content: flex-end;
    gap: 10px;
}

.form-label {
    font-weight: bold;
    text-align: right;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0rem;
}

:host ::ng-deep .p-card {
    background: var(--surface-card);
    border: 1px solid rgb(63, 75, 91) !important;
    border-radius: 12px !important;
    margin-left: 10px;
}