<div class="container pt-6-rem">
    <!-- About Us Header -->
    <!-- <div class="text-center mb-5">
        <h2 class="display-5 fw-bold">About Us</h2>
        <p class="lead">Empowering Your Financial Future with Personalized Strategies</p>
    </div> -->

    <!-- Mission Statement -->
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg p-4 border-0">
                <h3 class="fw-bold text-center mb-4">Our Mission</h3>
                <p>
                    Our team of skilled advisors takes the time to understand your unique financial aspirations, risk
                    tolerance,
                    and personal circumstances. This deep understanding allows us to tailor every recommendation
                    specifically to you.
                    Whether you're planning for retirement, aiming to grow your wealth, or seeking to protect your
                    assets, we offer
                    solutions that align with your values and objectives.
                </p>
                <p>
                    We believe that your financial well-being extends beyond just investments. That's why we take a
                    holistic approach
                    to financial planning, integrating all aspects of your financial life into a cohesive plan. Through
                    ongoing
                    communication, regular reviews, and proactive adjustments, we ensure that your financial strategies
                    evolve with
                    you over time.
                </p>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div class="text-center my-5">
        <h3 class="fw-bold">Our Services</h3>
        <p class="lead">Tailored financial solutions designed for your success</p>
    </div>

    <div class="row justify-content-center">
        <!-- Commitment to Excellence -->
        <div class="col-md-3 mb-3">
            <div class="card shadow-lg p-4 text-center">
                <h5 class="mb-2 text-900 fw-bold">Commitment to Excellence</h5>
                <span>We are committed to providing exceptional service and delivering results that
                    help
                    our clients achieve financial independence and peace of mind.</span>
            </div>
        </div>

        <!-- Personalized Service -->
        <div class="col-md-3 mb-3">
            <div class="card shadow-lg p-4 text-center">
                <h5 class="mb-2 text-900 fw-bold">Personalized Service</h5>
                <span>We recognize that every client is unique. Our individualized approach ensures
                    that
                    your financial plan is designed specifically to meet your needs and goals.</span>
            </div>
        </div>

        <!-- Client-Centric Approach -->
        <div class="col-md-3 mb-3">
            <div class="card shadow-lg p-4 text-center">
                <h5 class="mb-2 text-900 fw-bold">Client-Centric Approach</h5>
                <span>Your success is our top priority. We take the time to listen, understand, and
                    craft
                    a plan that supports your vision for the future.</span>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow-lg p-4 text-center">
                <h5 class="mb-2 text-900 fw-bold">Innovative Solutions</h5>
                <span>We utilize advanced financial technologies to create solutions that drive efficiency and unlock
                    opportunities for sustainable growth in your financial journey.</span>
            </div>
        </div>
    </div>
</div>